body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #8d7b64bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 100px;
  background-color: #8d7b64;
  color: white;
}

.footer-section h4 {
  margin-bottom: 20px;
}


/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #8d7b64;
  border-bottom: 1px solid #6d604ebd;
  z-index: 1000;
}

/* LOGO */
.logo img {
  height: 50px;
  border-radius: 50px;
}

/* NAVEGAÇÃO */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

/* SEARCH-BAR */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* INPUT DA BARRA DE PESQUISA */
.search-input {
  width: 180px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

/* BOTÃO DE PESQUISA */
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d7b64bd;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* ALINHAMENTO DOS ÍCONES */
.cart-icon,
.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon a,
.user-icon a {
  display: flex;
  align-items: center;
}

.cart-icon i,
.user-icon i {
  font-size: 20px;
  color: #fff;
}
#header-container, #footer-container {
  display: block !important;
}



.login-container {
  background: rgba(175, 148, 142, 0.432);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.087);
  color: #fff;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.input-group input:focus {
  background: rgba(176, 128, 124, 0.5);
  outline: none;
}

.input-group input::placeholder {
  color: #3b2a2a65;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #fff;
}

.options a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background: #b0807c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.social-login p {
  margin-bottom: 1rem;
  color: #fff;
}

.social-login button {
  background: #fff;
  color: #333;
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup p {
  color: #fff;
}

.signup a {
  text-decoration: none;
  color: #ff8484;
}

/* RESPONSIVIDADE */

/* Telas pequenas (até 600px) */
@media only screen and (max-width: 600px) {
  .login-container {
    width: 95%;
    max-width: 400px;
    padding: 1.5rem;
    margin-bottom: 0;

  }

  .header {
    align-items: center;
    padding: 8px;
  }

  .logo img {
    height: 35px;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    padding: 6px;
  }

  .navbar a {
    font-size: 10px;
    margin: 0 2px;
    align-items: center;
    margin-left: 10px;
  }

  /* SEARCH-BAR */
  .search-bar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1px;
  }

  /* INPUT DA BARRA DE PESQUISA */
  .search-input {
    width: 30%;
    padding: 3px;
    font-size: 10px;
    margin: 0 5px;
    margin-left: 7px;
  }

  .search-button {
    padding: 5px;
    font-size: 12px;
  }

  /* ALINHAMENTO DOS ÍCONES */
  .cart-icon {
    margin: 0 5px;
    padding: 5px;
    font-size: 12px;
  }

  #user-icon {
    padding: 2px;
    font-size: 10px;
  }

  .cart-icon i {
    font-size: 10px;
    gap: 10px;
  }

  .user-icon i {
    font-size: 10px;
    gap: 10px;
  }

  #all-categories {
    min-width: 65px;
  }

  .footer {
    padding: 10px;
    font-size: 10px;
    margin-top: 0;
    margin-top: 300px;

  }

}