 body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   background-color: #8d7b64bd;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: 100px;

 }


 .cart-container {
   display: flex;
   width: 70%;
   justify-content: space-between;
   border-radius: 12px;
   overflow: hidden;
   margin: 0 auto;
 }

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #8d7b64;
  border-bottom: 1px solid #6d604ebd;
  z-index: 1000;
}

/* LOGO */
.logo img {
  height: 50px;
  border-radius: 50px;
}

/* NAVEGAÇÃO */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

/* SEARCH-BAR */
.search-bar {
  display: flex;
  align-items: center; /* Garante que os itens fiquem alinhados verticalmente */
  gap: 10px; /* Reduz o espaço entre os elementos */
  padding: 10px;
}

/* INPUT DA BARRA DE PESQUISA */
.search-input {
  width: 180px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

/* BOTÃO DE PESQUISA */
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d7b64bd;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* ALINHAMENTO DOS ÍCONES */
.cart-icon, .user-icon {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center;
}

.cart-icon a, .user-icon a {
  display: flex;
  align-items: center;
}

.cart-icon i, .user-icon i {
  font-size: 20px;
  color: #fff;
}


 .cart-left {
   width: 70%;
   padding: 20px;
   background-color: #d9cbc5;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
   color: #000;
 }

 .cart-right {
   padding: 20px;
   background-color: #1e1e1e;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

   color: #fff;
 }

 .cart-item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 15px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
   width: 100%;
   gap: 20px;
 }

 .cart-item img {
   width: 60px;
   height: 60px;
   object-fit: cover;
   flex-shrink: 0;
   border-radius: 8px;
 }

 .item-details {
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 5px;
 }

 .item-details h3 {
   margin: 0;
   font-size: 14px;
 }

 .item-details p {
   margin: 0;
   font-size: 12px;
 }

 .item-details input {
   width: 50px;
   text-align: center;
   border: 1px solid #aaa;
   border-radius: 5px;
   margin-right: 10px;
 }

 .item-price {
   font-weight: bold;
   min-width: 70px;
   text-align: center;
   flex-shrink: 0;
 }


 .cart-total {
   margin-top: 20px;
   text-align: right;
   font-size: 18px;
   font-weight: bold;
 }

 .form-group {
   margin-bottom: 15px;
 }

 .form-group input {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #aaa;
   font-size: 14px;
   background-color: #333;
   color: white;
   margin-left: -10px;
 }

 #checkout {
   background-color: #d9cbc5;
   color: white;
   font-size: large;
   font-weight: bold;
   border: none;
   padding: 10px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color 0.3s ease;
   width: 100%;
 }

 #checkout:hover {
   background-color: #555;
 }

 .price-summary p {
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   font-size: large;
   margin: 10px 0;
 }

 .product-image {
   max-width: 60px;
   max-height: 60px;
   border-radius: 8px;
   object-fit: cover;
 }

 .quantity-controls {
   display: flex;
   align-items: center;
   gap: 8px;
 }

 .quantity-controls button {
   background-color: #ddd;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   font-size: 14px;
   border-radius: 5px;
 }

 .quantity-input {
   width: 40px;
   text-align: center;
 }

 .address {
   color: white;
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
   cursor: pointer;
   border-radius: 10px;
   transition: background-color 0.3s ease;
   width: 100%;
 }

 .address h1 {
   font-size: 14px;
   color: white;
 }

 .cart-left .cart-total {
   display: none;
 }

 /* Footer */
 .footer {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   background-color: #8d7b64;
   color: white;
   margin-top: 20px;
 }

 .footer-section h4 {
   margin-bottom: 10px;
 }


 /* RESPONSIVIDADE */
 @media only screen and (max-width: 600px) {

   body {
     padding-top: 80px;
   }

   .cart-container {
     width: 100%;
     max-width: 450px;
     padding: 2rem;
     flex-direction: column;
     margin-left: 20px;
   }

   .cart-right form {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px;
   }

   .form-group,
   .address {
     grid-column: 1 / -1;
   }

   .form-group:nth-child(even) {
     grid-column: 2;
   }

   .form-group:nth-child(odd) {
     grid-column: 1;
   }

   #checkout {
     margin-top: 80px;
     height: 50px;
   }

   #summary-total {
     margin-top: 20px;
   }

   .cart-left,
   .cart-right {
     width: 90%;
     border-radius: 5px;
     padding: 1rem;
   }

   .cart-item {
     align-items: center;
     gap: 10px;
     font-size: 13px;
     position: relative;
   }

   .item-details {
     width: 100%;
     align-items: center;
   }

   .item-price {
     width: 100%;
     text-align: left;
   }

   .form-group input {
     margin-left: 0;
     width: 120px;
   }

   .remove-from-cart {
     position: absolute;
     right: 0px;
     bottom: 20px;
     background: none;
     border: none;
     font-size: 16px;
     cursor: pointer;
     padding: 5px;
   }

   .header {
     align-items: center;
     padding: 8px;
   }

   .logo img {
     height: 35px;
   }

   .navbar {
     flex-direction: row;
     justify-content: center;
     gap: 0px;
     padding: 6px;
   }

   .navbar a {
     font-size: 10px;
     margin: 0 2px;
     align-items: center;
     margin-left: 10px;
   }

   /* SEARCH-BAR */
   .search-bar {
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     gap: 1px;
   }

   /* INPUT DA BARRA DE PESQUISA */
   .search-input {
     width: 30%;
     padding: 3px;
     font-size: 10px;
     margin: 0 5px;
     margin-left: 7px;
   }

   .search-button {
     padding: 5px;
     font-size: 12px;
   }

   /* ALINHAMENTO DOS ÍCONES */
   .cart-icon {
     margin: 0 5px;
     padding: 5px;
     font-size: 12px;
   }

   #user-icon {
     padding: 2px;
     font-size: 10px;
   }

   .cart-icon i {
     font-size: 10px;
     gap: 10px;
   }

   .user-icon i {
     font-size: 10px;
     gap: 10px;
   }

   #all-categories {
     min-width: 65px;
   }

   .footer {
     width: 100%;
     font-size: 10px;
     padding-right: 80px;
   }

 }


